.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #000;
    flex-direction: column;
    color: #fff;
    
  }
  
  h1{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  